# ==============================
#   Operating Systems
# ==============================

# MacOS
.DS_Store

# ==============================
#   IDEs
# ==============================

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json

# ==============================
#   Custom
# ==============================

old/
trash/
